<html lang="{{locale}}">
		<head>
				<meta charset="UTF-8">
				<meta http-equiv="refresh" content="0; url="{{createRedirectionLink locale version}}">
				<script type="text/javascript">
						window.location.href = "{{createRedirectionLink locale version}}"
				</script>
				<title>Page Redirection</title>
		</head>
		<body>
				If you are not redirected automatically, follow this <a href='/{{createRedirectionLink locale version}}'>link</a>.
		</body>
</html>
