    </div>
    <footer>
      footer
      {{!-- {{#each globalAssets.scripts}} --}}
      {{!--   <script src="/scripts/{{ this }}" defer></script> --}}
      {{!-- {{/each}} --}}

      {{!-- <script src="/scripts/vendor/prism.js" defer></script> --}}
   </footer>
  </body>
 </html>
