<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- <title>{{#if metadata.title}}{{metadata.title}} | {{/if}}{{ siteInfo 'title' }}</title> --}}

    {{!-- {{> meta}} --}}

    <link rel="stylesheet" href="/assets/styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/styles/font.css" type="text/css"/>
    {{!-- {{#each globalAssets.styles}} --}}
    {{!--   <link rel="stylesheet" href="/styles/{{ this }}" type="text/css"/> --}}
    {{!-- {{/each}} --}}
  </head>
  <body>
    <header></header>
    <div class="page-bd">
