* {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 25px;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 24px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }

.content {
  padding: 24px;
  margin-left: 320px;
} 

.content p {
  margin-bottom: 24px;
}

.content ol {
  margin-bottom: 24px;
}

.content strong {
  font-weight: 700;
}

.content em {
  font-style: italic;
}

.content ol {
  list-style: decimal;
}

.content ul {
  list-style: disc;
}

.content li {
  padding-left: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.content code {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #efefef;
  border-radius: 3px;
}

.content blockquote {
  border-left: 3px solid;
  padding-left: 20px;
  font-style: italic;
}

.content mark {
  background-color: #fafca7;
}

.content sup {
  vertical-align: super;
  font-size: 0.7em;
}

.page-bd {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.side-nav {
  position: fixed;
  height: 100%;
  overflow-x: auto;
}

.nav-menu {
  width: 320px;
}
